.banner-text {
  opacity: 0.8;
  width: 75%;
  margin: auto;
  border-radius: 10px;
}

.banner-text h1 {
  font-size: 66px;
  font-weight: bold;
  color: white;
  font-family: "Jost", sans-serif !important;
}

.banner-text h2 {
  font-weight: bold;
  color: white;
  font-family: "Jost", sans-serif !important;
}

.about-title {
  color: white;
  font-family: "Jost", sans-serif !important;
  width: 40%;
  margin: 30px auto;
}

.tunes {
  color: white;
  font-family: "Jost", sans-serif !important;
  margin: 50px auto 0px auto;
  font-size: 24px;
}

.about-me {
  color: white;
  font-family: "Jost", sans-serif !important;
  margin: 30px auto;
  width: 80%;
  font-size: 28px;
  line-height: 1.5em;
}

.projects-page {
  width: 80%;
  margin: 0 auto;
}
.animated-img {
  margin-top: 15em;
  height: 200px;
  /* padding-top: 5em; */
  border: 1px solid;
  border-radius: 50%;
}

.landing-grid {
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.header-color {
  background: transparent;
}

.social-links {
  display: flex;
  justify-content: space-evenly;
  width: 50%;
  margin: 0 auto;
}

.social-links i {
  color: white;
  font-size: 3em;
  padding: 8px;
}

.mdl-layout__content {
  width: 80%;
  margin: 0 AUTO;
}

.content {
  width: 80%;
}

#about-div {
  margin-left: 150px;
}

#cover {
  height: 100%;
  width: 100%;
}

/* .tabs p {
  color: white;
} */
